.input-container {
  width: 100%;
  padding: 11px 16px;
  border: 2px solid #202123;

  vertical-align: middle;
  line-height: 1;

  display: flex;
  align-items: center;

  border-radius: 4px;

  transition: border 180ms, outline 180ms, 180ms ease-in-out;

  > input {
    font-weight: 500;

    background: transparent;
    border: 0;
    flex: 1;

    &::placeholder {
      color: #a5aba0;
    }
  }

  > span {
    margin-left: 4px;

    > svg {
      transition: color 180ms ease-in-out;
    }
  }

  &:focus-within {
    border: 2px solid var(--primary-orange);
  }
}
