.auth {
  height: 100vh;
  width: 1024px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 50%;
  }

  form {
    width: 320px;
    padding: 24px;

    div {
      margin-top: 10px;
    }
  }

  @media only screen and (max-width: 920px) {
    width: 100%;
    flex-direction: column;
    justify-content: center;

    img {
      width: 50%;
    }

    form {
      margin-top: 24px;
    }
  }
}

.link-auth {
  margin-top: 20px;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;
}

.link-table {
  font-size: 16px;
}

.card {
  width: 100%;
  height: 100%;
  min-height: 300px;
  padding: 24px;
  background: #ffffff;
  border-radius: 24px;
  //box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
  box-shadow: 0px 8px 26px -8px rgba(149, 157, 165, 0.3);
}
